@charset "UTF-8";
body{
    background-color: #041936;
    color: rgba (0, 0, 0, 0.2);
}

  div#resumo{
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(7, 4, 43, 0.5);
    padding: 10px;
}   
  nav#menu h3{
    font-family: 'FontePrincipal', sans-serif;
    font-size: 20pt;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(25, 17, 75, 0.6);
  }

div#rodape h4{
  background-color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10pt;
  padding: 35px;
}
