@charset "UTF-8";
body{
    background-color: #041936;
    color: rbga (0, 0, 0, 0.2);
}

  div#resumo{
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
} 
header#menu{
    border-bottom: 1px #ffffff solid;
  }
  
  header#menu h3{
    font-family: 'FontePrincipal', sans-serif;
    font-size: 20pt;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  }